html, body {
  background: #303030;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0 auto;
}

h1, h2, h3, h4, h5, a, b, p, span { color: #fff; }
img { -webkit-user-drag: none; }
code { background: rgba(0, 0, 0, .5); padding: 3px 6px; }

::-webkit-scrollbar { background-color: #1c1e1f; color: #c5c1b9; }
::-webkit-scrollbar-thumb { background-color: rgba(255, 255, 255, .1); display: initial; }
::-webkit-scrollbar-thumb:hover { background-color: rgba(255, 255, 255, .15); }
::-webkit-scrollbar-thumb:active { background-color: rgba(255, 255, 255, .2); }
::-webkit-scrollbar-corner { background-color: #181a1b; }

:target { position: relative; }
:target::before {
  background: rgba(250, 166, 26, .1);
  content: ' ';
  height: 100%;
  left: -3px;
  padding-bottom: 6px;
  padding-right: 6px;
  position: absolute;
  top: -3px;
  width: 100%;
}

// Main- & 404 page
.nothing-found {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .code { color: #e74c3c; }
  h1 { position: relative; text-align: center; width: 100%; }
}

.intro-container {
  align-items: center;
  animation: background-pulse 5s ease-in-out infinite;
  background: #181818;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  height: 100%;
  justify-content: center;
  width: 100%;

  .text { margin: .25em 0; }
  .title { margin: .1em 0; }
}

.line-splitter {
  background: rgba(#fff, .5);
  height: 3px;
  margin: 0 auto;
  margin-top: .5em;
  width: 80%;
}

.emoji {
  height: 22px;
  object-fit: contain;
  vertical-align: bottom;
  width: 22px;
}

// Keyframes
@keyframes background-pulse {
  0% { background: #181818; }
  30% { background: #282828; }
  60% { background: #282828; }
  100% { background: #181818; }
}
