.highlight {
  background-color: #181818;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  margin: 0;
  overflow: auto;
  padding: 8px;
  word-break: normal;

  code { background: transparent; font-size: 14px; padding: 0; }
}

.messages {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;

  .message {
    display: flex;
    flex-direction: column;
    margin: .5em 0;
    padding: 0 4.5em;
    position: relative;

    &.system, &.author_context {
      border-left-style: solid;
      border-left-width: 3px;
      padding: .5em 4.5em;
    }

    &.system {
      background-color: rgba(#7289da, .05);
      border-color: #7289da;
    }

    &.author_context {
      background-color: rgba(#2ecc71, .05);
      border-color: #2ecc71;
    }

    .username {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }

    .avatar {
      border-radius: 50%;
      height: 40px;
      left: 1em;
      margin-top: .15em;
      position: absolute;
      width: 40px;
    }

    .emoji {
      height: 22px;
      object-fit: contain;
      vertical-align: bottom;
      width: 22px;

      &.jumboable {
        height: 48px;
        width: 48px;
      }
    }

    .content-container .content {
      display: flex;
      flex-direction: column;
      padding: 2px 0;
      text-decoration: none;
      text-transform: none;
      transition: transform 250ms ease-in-out;
      width: auto;
      z-index: 9999999999;  // hehe, numbers go brrrr

      p {
        color: #ccc;
        font-size: 16px;
        margin: 0;
        text-transform: none;
        white-space: pre-wrap;
      }

      .image-container {
        margin-top: .3em;
        position: relative;
        width: 100%;
      }

      .file-container {
        z-index: 100000;

        a {
          background: #181818;
          border-radius: 5px;
          display: table;
          padding: .5em 1em;
        }
      }

      .upload {
        cursor: pointer;
        display: grid;
        height: auto;
        max-height: 250px;
        max-width: 520px;
        object-fit: contain;
        width: auto;
      }

      &:hover { background-color: rgba(0, 0, 0, .25); }
    }
  }
}

.closed-ticket {
  border-top: 2px solid rgba(231, 76, 60, .5);
  display: block;
  font-size: 24px;
  margin: 0;
  padding: .5em 0;
  text-align: center;
  width: 100%;
}

.timestamp {
  color: #72767d;
  font-size: .8rem;
  font-weight: normal;
  margin-left: .25rem;
  vertical-align: baseline;
}

.tag {
  background: #7289da;
  border-radius: 3px;
  color: #fff;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 800;
  height: 1.28em;
  margin-top: .075em;
  padding: .072rem .275rem;
  text-transform: uppercase;
  vertical-align: text-top;

  &.bot { background: #7289da; letter-spacing: 1px; }
  &.staff { background: #f1c40f; color: #000; }
  &.context { background: #2ecc71; color: #000; }
}
