.channel-title {
  align-items: center;
  background-color: #181818;
  display: flex;
  flex-direction: row;
  height: 36px;
  padding: .5em;
  position: relative;

  svg { fill: #ccc; }
  p { margin: 0; }

  .channel-content {
    align-items: center;
    color: #ccc;
    display: flex;
    flex-direction: row;
    margin-left: .25em;
  }

  .name {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin-right: .75em;
  }

  .expire, #expire_date {
    color: #72767d;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 1;
  }

  .download {
    position: absolute;
    right: 1.25em;
    top: .55em;

    svg {
      height: 32px;
      width: 32px;
      &:hover { fill: #7a7a7a; }
    }
  }
}

.unknown_source {
  align-items: center;
  background-color: #e74c3c;
  display: flex;
  height: 2em;
  justify-content: center;
  text-align: center;
  width: 100%;

  p {
    display: inline-block;
    line-height: 1;
    margin: 0;
  }

  &.approved {
    background-color: #f1c40f;
    padding-bottom: .25em;
    b, p { color: #000; }
  }
}

.context-container {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 0, rgba(0, 0, 0, .06) 0 3px 0;
  margin-bottom: .5em;
  width: 100%;

  .context {
    background: #282828;
    display: block;
    padding: 1em 2em;

    .author, .context-ticket, .confirmed_author, .created_at {
      margin: 0;
      white-space: pre-wrap;
    }
  }

  .context-flex {
    display: flex;
    flex-direction: row;
  }
}

.author_id { font-size: 14px; font-weight: normal; }
