<html>
  <head>
    <title>{{ title | default('xelA Tickets') | e }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
