<html>
  <head>
    <title>{{ title | default('xelA Tickets') | e }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript" charset="utf-8"></script>

    <meta name="theme-color" content="#14bae4">
    <meta content="https://tickets.xela.dev/static/images/favicon.png" property="og:image" />
    <link rel="icon" type="image/x-icon" href="https://tickets.xela.dev/static/images/favicon.png">

    <!-- Twemoji, yes -->
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>

    {% block meta %}{% endblock %}

    <meta name="revisit-after" content="2 days">
    <meta name="keywords" content="AlexFlipnote, Twitter, Developer, Github, xelA, Tickets, API">

    <meta property="og:locale" content="en_GB" />
    <link rel="canonical" href="https://tickets.xela.dev/" />
    <meta property="og:url" content="https://tickets.xela.dev/" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@AlexFlipnote" />
  </head>
  <body>
    {% block content %}{% endblock %}
    <script>twemoji.parse(document.body) // Add twemoji support </script>
  </body>
</html>
