{% extends "_layout.html" %}

{% block meta %}
<meta content="xelA Tickets" property="og:title" />
<meta property="og:site_name" content="xelA TicketsAPI" />
<meta content="A beautiful website to display ticket logs" name="description" />
<meta content="A beautiful website to display ticket logs" property="og:description" />
{% endblock %}

{% block content %}
<section class="intro-container">
  <h4 class="title">TicketsAPI Docs</h4>
  <p class="text">POST: <code>https://tickets.xela.dev/submit</code></p>
  <p class="text">Headers: <code>Authorization: &lt;token&gt;</code></p>
  <p class="text">
    JSON/data: <a href="https://github.com/xelA/TicketsAPI/blob/master/examples/submit.json" target="_blank">example</a>
  </p>
</section>
{% endblock %}
